In [6]:
import pandas as pd
import numpy as np
import glob

In [7]:
# Get a list of all CSV files in the directory
path = '/scratch/an1n23/meop_RS_AS/'  # Change to your path
all_files = glob.glob(path + "/*.part")

In [8]:
all_files

['/scratch/an1n23/meop_RS_AS/36.part',
 '/scratch/an1n23/meop_RS_AS/24.part',
 '/scratch/an1n23/meop_RS_AS/20.part',
 '/scratch/an1n23/meop_RS_AS/35.part',
 '/scratch/an1n23/meop_RS_AS/23.part',
 '/scratch/an1n23/meop_RS_AS/34.part',
 '/scratch/an1n23/meop_RS_AS/22.part',
 '/scratch/an1n23/meop_RS_AS/13.part',
 '/scratch/an1n23/meop_RS_AS/33.part',
 '/scratch/an1n23/meop_RS_AS/16.part',
 '/scratch/an1n23/meop_RS_AS/12.part',
 '/scratch/an1n23/meop_RS_AS/32.part',
 '/scratch/an1n23/meop_RS_AS/27.part',
 '/scratch/an1n23/meop_RS_AS/15.part',
 '/scratch/an1n23/meop_RS_AS/31.part',
 '/scratch/an1n23/meop_RS_AS/26.part',
 '/scratch/an1n23/meop_RS_AS/09.part',
 '/scratch/an1n23/meop_RS_AS/25.part',
 '/scratch/an1n23/meop_RS_AS/21.part']

In [12]:
dfs = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    dfs.append(df)

meop = pd.concat(dfs, axis=0, ignore_index=True)

In [13]:
meop

,PLATFORM_NUMBER,PROFILE_NUMBER,TEMP_ADJUSTED,PSAL_ADJUSTED,PRES_ADJUSTED,PRES_ADJUSTED_QC,PRES_ADJUSTED_ERROR,TEMP_ADJUSTED_QC,TEMP_ADJUSTED_ERROR,PSAL_ADJUSTED_QC,PSAL_ADJUSTED_ERROR,JULD,LATITUDE,LONGITUDE,POSITION_QC,ECHODEPTH
0,12354,826863,1.778462,33.675300,6.0,1,NaN,1,0.05,1,0.05,2007-01-31 05:00:00.000003,-62.4780,-60.6831,1,-75.0
1,12354,826863,1.767164,33.709420,7.0,1,NaN,1,0.05,1,0.05,2007-01-31 05:00:00.000003,-62.4780,-60.6831,1,-75.0
2,12354,826863,1.749170,33.762875,8.0,1,NaN,1,0.05,1,0.05,2007-01-31 05:00:00.000003,-62.4780,-60.6831,1,-75.0
3,12354,826863,1.734456,33.806213,9.0,1,NaN,1,0.05,1,0.05,2007-01-31 05:00:00.000003,-62.4780,-60.6831,1,-75.0
4,12354,826863,1.726231,33.829483,10.0,1,NaN,1,0.05,1,0.05,2007-01-31 05:00:00.000003,-62.4780,-60.6831,1,-75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8038215,8670,263598,1.613877,NaN,275.0,1,NaN,1,0.20,9,NaN,2005-09-02 11:40:00.000001,-65.9623,-172.9248,1,-3042.0
8038216,8670,263598,1.628112,NaN,300.0,1,NaN,1,0.20,9,NaN,2005-09-02 11:40:00.000001,-65.9623,-172.9248,1,-3042.0
8038217,8670,263598,1.547661,NaN,350.0,1,NaN,1,0.20,9,NaN,2005-09-02 11:40:00.000001,-65.9623,-172.9248,1,-3042.0
8038218,8670,263598,1.519314,NaN,400.0,1,NaN,1,0.20,9,NaN,2005-09-02 11:40:00.000001,-65.9623,-172.9248,1,-3042.0
8038219,8670,263598,1.546500,NaN,436.0,1,NaN,1,0.20,9,NaN,2005-09-02 11:40:00.000001,-65.9623,-172.9248,1,-3042.0

In [14]:
meop.to_csv("/home/an1n23/datasets/meop_RS_AS_merged.csv", index=False)